@{
  ViewBag.Title = "About";
}

<article class="intro">
  <h3>About</h3>
</article>
<div>
    <b>Contributions: </b><br/>
    <a target="_blank" href="">Lea di Vito</a> <br/>
    <a target="_blank" href="">Luca Lorrai</a>
</div>